<div *ngIf="true">
  <li *ngFor="let note of (notes | async); index as i; first as isFirst">
    <a (click)="onSelectNote(note.id)">
      {{note.title}}
    </a>
  </li>
  <div>

<div *ngIf="!editNote">
  <h3>{{currentNote.title}}</h3>
  <p>
    {{currentNote.text}}
  </p>
  <div>
    <button class="btn btn-primary" (click)="onEditNote()" *ngIf="noteSelected()">Edit</button>
    <button class="btn btn-primary" (click)="onDeleteNote()" *ngIf="noteSelected()">Delete</button>
    <button type="button" class="btn btn-primary btn-lg active" (click)="onNewNote()">New Note</button>
  </div>
</div>

<p>Saif</p>

<div *ngIf="editNote">
  <form [formGroup]="editNoteForm" (ngSubmit)="updateNote()">  
    <div class="form-group">  
      <input placeholder="Title" formControlName="title">    
      <textarea matInput placeholder="Note text" formControlName="text"></textarea>    
    <button class="btn btn-primary">Update</button>
  </div>
  </form>
</div>


  