<h3>Notes List</h3>
<div class="main-background" *ngIf="true">
  <ul class="list-group">
  <li class="list-group-item" *ngFor="let note of (notes | async); index as i; first as isFirst">
    <a (click)="onSelectNote(note.id)">
      {{note.id}} {{note.title}}
    </a>
  </li>
</ul>
<div>

<div *ngIf="!editNote">
  <h3>{{currentNote.title}}</h3>
  <p>
    {{currentNote.text}}
  </p>
  <div class="container">
    <div class="d-flex justify-content-start">
      <button type="button" class="btn btn-primary me-2" (click)="onNewNote()">New Note</button>  
      <button type="button" class="btn btn-danger me-2" (click)="onDeleteNote()" *ngIf="noteSelected()">Delete</button>
      <button type="button" class="btn btn-success" (click)="onEditNote()" *ngIf="noteSelected()">Edit</button>
  </div>
  </div>
</div>

<div *ngIf="editNote">
  <form [formGroup]="editNoteForm" (ngSubmit)="updateNote()">  
    <div class="form-group"> 
      <div class="container"> 
        <div class="d-flex justify-content-start">        
        <input placeholder="Title" formControlName="title">    
        <textarea matInput placeholder="Note text" formControlName="text"></textarea>    
        <button class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
  </form>
</div>
</div>