/* Default layout for larger screens */
.notes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.note-list {
  flex: 100%;
  max-width: 20%;
}

.note-container, .form-container {
  flex: 100%;
  max-width: 70%;
}

.divider-vertical {
  display: block;
}

.divider-horizontal {
  display: none;
}

/* For smaller screens (xs) */
@media (max-width: 600px) {
  .notes {
      flex-direction: column;
  }

  .note-list, .note-container, .form-container {
      max-width: 100%;
  }

  .divider-vertical {
      display: none;
  }

  .divider-horizontal {
      display: block;
  }
}
